<h1>

  <form action="/graph/api">
   <button type="submit">DOWNLOAD IMAGE</button>
   </form>

   <canvas id="myChart" width="400" height="250" style="background-repeat: no-repeat; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAACGElEQVQ4y3XUT27bZhDG4YfyR0mU7LhxYsNwkHqRRS+QG/UAPUsPECCHSZtNFkXQJjBQtE5bW46sP7YkmhJJUV2QLJJFZz2/b+adeeeL7F6yZMWKNFYecsQpz3jOtzzjjBMes89e3qQHHoEdW8pCuWFDTgk69OjRp8deRcYDiwaOvuTXNjW8ZUegy4CEHh5Ycce9wBGBDtriRabKKIjokjCgT7RuyTlzgSd0v+Ar8kyakYMu++zTq1gw4ZYZM4ETkv8UgTKXLxUZSDhgiDvGjLhl2lQ+aZ8ektAF+cJ4CQ5qYSuu+YurtvJS4JQ1DxxxyAEJCulMimMOt1xywSUjpixJG7ggJ+OY0zof197hHB95ywXXzFmSsRF4SkVFScGGF3zHiwLeHf7Ka35jzLL1wJatyC5rl1xv+6vYRYn/j6Doq9i2tTekTPjAKz/Y/egTr3jPqO24oKQMppTk1AaYM+KCn8Rv4Nr5me/5mY9cMWHBA3kwZk3Kihk3/MkHfnEKLjl2HsMRfzBiwj2rYETKgjlj/uETv4uXHqN11JnnYMA3jJlyHxohd0y54Yq/mTSu2rUNPdLZb1rpMuSAWfCZe6ZM+cwNM3HR2C0iY8GCrl7XU7BHn6SFZ0y55Y5U0hp1145/xZDYMFI1axKHRvy8VsFKXOnTJxBRtANNiRkYavhOMG/hBSnr5t+or7Q+8Q0ZGX1indig5v8FXNP3oBZ9eoEAAAAASUVORK5CYII=');height:100px; width: 100px;"
                           ></canvas>
</h1>

